<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Admin Sayfası</title>
	<h:outputStylesheet library="css" name="bootstrap.css" />
</h:head>
<body class="container-fluid" style="overflow:hidden; padding: 0px; background: linear-gradient(80deg,#98A4AF, #054771);">
	<nav class="navbar py-3" style="border-bottom: black solid 1px;">
		<h:form styleClass="navbar col-md-12">
			<h:commandLink styleClass="navbar-brand  text-white">
				<b>Pusula</b>
			</h:commandLink>
			<h:inputText styleClass="form-control my-0 py-1 col-md-4 mr-auto"
				a:placeholder="Pusula'da Ara" />
			<h:outputText value="Kullanıcı Adı: #{girisyap.tmpkuladi}" styleClass="nav-item text-white font-weight-bolder text-monospace  p-3"/>
			<h:outputText value="Yetkisi: #{girisyap.yetki}" styleClass="nav-item text-white font-weight-bolder text-monospace  p-3"/>
		</h:form>
	</nav>
	
	<div class="row" style="margin: 0px; height: 88.7%; width: 97%">
	<nav class=" col-md-3 pt-4" style=" border-right:black solid 1px;">
		<h:form styleClass="nav flex-column pl-4 pt-7">
				
				<h:commandLink action="adminKategori?faces-redirect=true" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/kategori.png"/>&nbsp;Kategori</h1></h:commandLink>
				<h:commandLink action="adminBGoruntule?faces-redirect=true" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/1.png"/>&nbsp;Blog Görüntüle</h1></h:commandLink>
				<h:commandLink action="#" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/icons8-settings-500.png"/>&nbsp;Ayarlar</h1></h:commandLink>
				<h:commandLink action="adminAyarlar?faces-redirect=true" styleClass="nav-item text-white" style="padding-left:80px;"><p>Kullanıcı</p></h:commandLink>
				<h:commandLink action="adminModeratörEkle?faces-redirect=true" styleClass="nav-item text-dark" style="padding-left:80px;"><p>Moderatör Ekle-Sil</p></h:commandLink>
				<h:commandLink action="#{girisyap.logout}" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/icons8-power-off-button-100.png"/>&nbsp;Çıkış</h1></h:commandLink>
				
		</h:form>
		
	</nav>
	
	
	
	
	<section class="container col-md-9 row">
		<div class="col-md-6">
				<div style="margin:60px;">
			<h:outputText style="color:white; font-size:30px;" value="Yeni Moderatör Ekle"/>
				</div>
		<div class=" w-100 h-75 mt-4">
			<h:form styleClass="h-25 d-flex  flex-column ">
				<div style="margin:40px;">
					<h:outputText style="padding-right:100px;padding-left:30px;font-size:20px;color:white;" value="Mail"/>
					<p:inputText style="width:50%" value="#{modekle.modMail}" required="true" requiredMessage="Mail boş bırakılamaz!"/>
				</div>
				<div style="margin:40px;">
					<h:outputText style="padding:30px;font-size:20px;color:white;" value="Kullanıcı Adı"/>
					<p:inputText style="width:50%" value="#{modekle.modKulAdi}" required="true" requiredMessage="Kullanıcıadı boş bırakılamaz!"/>
				</div>
				<div style="margin:40px;margin-left:0x;">
					<h:outputText style="padding-right:100px;padding-left:30px;font-size:20px;color:white;" value="Şifre"/>
					<p:password style="width:50%" value="#{modekle.modSifre}"  required="true" requiredMessage="Şifre boş bırakılamaz!"/>
				</div>
				<div style="margin-left:auto; margin-top: 20px;">
					<h:commandButton style="width:200px; margin-right:30px;" styleClass="btn btn-success" value="Değişiklikleri Kaydet" action="#{modekle.setModDB()}"/>
				</div>
			</h:form>
			<h:form>
				<p:growl id="growl" showDetail="true" sticky="true" />
			</h:form>
		</div>
		</div>
		
		<!-- Moderatör Sil -->
		  <div class="col-md-6 p-0" style="border-left: 1px solid;">
		  		<div style="margin:60px;">
			<h:outputText style="color:white; font-size:30px;" value="Moderatör Sil"/>
				</div>
		  	<h:form styleClass="w-100">
			<div style = "overflow: auto; height: 50%;">
			<h:dataTable  styleClass="w-100"  value="#{modekle.getModDB()}" var="k">
				<h:column>
					<div style="border-bottom:1px solid;border-top:1px solid; width: 100%;">
					 <h:outputText  style="padding-left:40px;color:white; font-size:40px;" value="#{k.uname}" />
					 	<h:commandLink style="float:right; padding-right:50px; padding-top:15px; color:red; font-size:20px;" value="Sil"  action="#{modekle.delModDB(k)}" />
					 </div>
				</h:column>
			</h:dataTable>
			</div>
		</h:form>
		  </div>
			
	</section>
	</div>
</body>
</html>
