<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<h:head>
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet name="primeicons/primeicons.css"
		library="primefaces" />
</h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<title></title>
</head>
<body>
	<div class="container-fluid">
		<div class="text-center text-black pt-5">
			<i class="pi pi-exclamation-triangle"
				style="font-size: 5em; color: red;"></i>
			<h3>Burada olmamanız gerektiğine inanıyoruz.</h3>
			<i>Hesabınızdan çıkış yaptığınız veya yetkiniz olmayan bir
				sayfayı görüntülemeye çalıştığınız için bu ekranla karşılaştınız.</i> <br/>
			<i>Bunun bir hata olduğunu düşünüyorsanız lütfen bizimle
				iletişime geçin.</i>
			<h:form class="mt-5">
				<label class="ml-5" for="login">Hesabınıza geri dönmek için
					tarayıcınızın geri tuşunu kullanabilir veya farklı bir hesapla
					giriş yapmak için buraya tıklayabilirsiniz:</label>
				<p:commandLink class="ml-2" action="#{girisyap.logout}"
					value="Hesap Değiştir" />
			</h:form>
		</div>
	</div>
</body>
</html>