<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	>

<h:head>
<title>Pusula Anasayfa</title>
<h:outputStylesheet library="css" name="index.css"/>
</h:head>
<head>
	<link rel="stylesheet" href="resources/css/index.css" />
</head>
<body>

	<div id="gor1" class="div01">
		<div id="welcomearea">
			<h1>Yazılarınla Dünyaya Yön Ver</h1>
			<h:form>
				<h:commandButton action="loginpage?faces-redirect=true"
					value="Şimdi Başla" styleClass="baslangic" />
			</h:form>
		</div>
	</div>
	<div id="gor2" class="div01">
		<div id="bilgisol">
			<h2>Mükkemmel Temayı Seçin</h2>
			<p>Kendi tarzınıza uygun, göz alıcı bir blog hazırlayın.
				Uyarlanabilen düzenlere sahip, farklı arka plan temaları arasından
				seçim yapma imkanı sunan pratik şablonlarımızdan birini seçin.</p>
			<h:form>
				<h:commandButton action="loginpage?faces-redirect=true"
					value="Şimdi Başla" styleClass="buttonorta" />
			</h:form>
		</div>
	</div>
	<div id="gor3" class="div01">
		<div id="bilgisag">
			<h2>Anılarınızı sonsuza dek saklayın</h2>
			<p>Değerli anılarınızı kaybetmeyin. Pusula ile binlerce yayını,
				fotoğrafı ve daha pek çok şeyi ücretsiz olarak, gözünüz arkada
				kalmadan saklama imkanına sahip olursunuz.</p>
			<h:form>
				<h:commandButton action="loginpage?faces-redirect=true"
					value="Şimdi Başla" styleClass="buttonorta" />
			</h:form>
		</div>
	</div>
	<div id="gor4" class="div01">
		<div id="bilgisol">
			<h2>İstediginiz Platformdan Erisebilirsiniz</h2>
			<p>Bloğunuza istediğiniz cihaz ve 
				platformdan sorunsuz erişebilirsiniz.</p>
			<h:form>
				<h:commandButton action="loginpage?faces-redirect=true"
					value="Şimdi Başla" styleClass="buttonorta" />
			</h:form>
		</div>
	</div>
	<div id="gor5" class="div01">
		<div id="bilgisag">
			<h2>Üstelik Tamamen Ücretsiz</h2>
			<p>İstediğiniz bloğu oluşturmak için ödeme yapmanıza gerek yok !
			</p>
			<h:form>
				<h:commandButton action="loginpage?faces-redirect=true"
					value="Şimdi Başla" styleClass="buttonorta" />
			</h:form>

		</div>
	</div>
	<div id="gor6" class="div01">
		<div id="bilgialt">
			<h3>Fikirlerini Pusulam.com ile Hayata Geçir</h3>
			<h:form>
				<h:commandButton action="loginpage?faces-redirect=true"
					value="Şimdi Başla" styleClass="sonbuton" />
			</h:form>

		</div>
	</div>
	<div class="footer">
		<div style="width: 55%; height: 100%; margin-left: 25%;">
			<span>PUSULA | Bu website Pusula tarafından tasarlanmıştır.</span>
			<p>© 2020 Pusula.com</p>
			<a href="">Kullanım Hakları</a>
		</div>
	</div>
</body>
</html>