<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Kayıt Ol</title>
	<link rel="stylesheet" href="resources/css/loginpage.css" />
	<h:outputStylesheet library="css/" name="loginpage.css" />
</h:head>
<body>


	<div class="header">
		<a href="index.xhtml"><h1>P</h1></a>
		<h:inputText styleClass="search" />
	</div>

	<div class="container">
		<div class="loginarea">

			<h:panelGrid>
				<h:form>
					<h1>PUSULA</h1>

					<p:inputText id="mail" placeholder="E-Posta"
						value="#{kayitol.uyemail}" styleClass="login" required="true"
						requiredMessage="E-posta kısmı boş geçilemez!" />
					<p:message for="mail" style="color:white;" />
					<p:inputText id="user" placeholder="Kullanıcı Adı"
						value="#{kayitol.uyekuladi}" styleClass="login" required="true"
						requiredMessage="Kullanıcı Adı kısmı boş geçilemez!" />
					<p:message for="user" style="color:white;" />
					<p:password placeholder="Parola" id="turkishFeedback"
						value="#{kayitol.uyesifre}" styleClass="login" feedback="true"
						promptLabel="Lütfen şifre giriniz" weakLabel="Zayıf"
						goodLabel="Orta seviye" strongLabel="Güçlü" required="true"
						requiredMessage="Parola kısmı boş geçilemez!" />
					<p:message for="turkishFeedback" style="color:white;" />
					<h:commandButton style="margin-bottom:0px;" value="Kayıt Ol"
						action="#{kayitol.saveMessage()}"
						actionListener="#{kayitol.uyekayitDB()}" styleClass="button" />
					<p style="padding-bottom: 10px; padding-top: 10px;" class="unuttum">Hesabın
						var mı?</p>

				</h:form>
				<h:form>
					<h:commandButton action="loginpage?faces-redirect=true"
						value="Giriş Yap" styleClass="button" />
				</h:form>

			</h:panelGrid>
			<h:form>
				<p:growl id="growl" showDetail="true" sticky="true" />
			</h:form>
		</div>
	</div>

	<div class="footer">
		<div style="width: 90%; height: 100%;">
			<p>© 2020 Pusula.com</p>
			<a href="">Kullanım Hakları</a>
		</div>



	</div>
</body>
</html>