<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<h:head>
	<h:outputStylesheet name="css/themeLibrary.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet name="primeicons/primeicons.css"
		library="primefaces" />
</h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<title>Insert title here</title>
</head>
<body style="background-color: rgba(0, 0, 0, .1)">
	<div class="container-fluid">
		<div class="text-center mt-5">
			<i class="pi pi-spin pi-spinner mt-5 text-white"
				style="font-size: 5em"></i>
			<p class="mt-3">Yükleniyor...</p>
			<h:form>
				<meta http-equiv="refresh" content="1;#{uri.fetchSuccess()}.xhtml" />
			</h:form>
		</div>
	</div>
</body>
</html>