<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<h:head>
<title>Login Page</title>
<h:outputStylesheet rel="stylesheet" href="resources/css/loginpage.css" />
<link rel="stylesheet" href="resources/css/loginpage.css" />
</h:head>
<body>


	<div class="header">
		<a href="index.xhtml"><h1>P</h1></a>
		<h:inputText styleClass="search" />
		<button onclick="window.location.href='kayitol.xhtml'"
			class="kayitolbutton">Kayıt Ol</button>
	</div>

	<div class="container">
		<div class="loginarea">

			<h:panelGrid>

				<h1>PUSULA</h1>
				<h:form>
					<p:inputText id="user" placeholder="Kullanıcı Adı"
						styleClass="login" value="#{girisyap.tmpkuladi}" required="true"
						requiredMessage="Kullanıcı Adı Alanı Boş Bırakılamaz." />
					<p:message for="user" />
					<p:password id="pass" placeholder="Parola" styleClass="login"
						value="#{girisyap.tmpsifre}" required="true"
						requiredMessage="Şifre Alanı Boş Bırakılamaz" />
					<p:message for="pass" />
					<h:commandButton value="Giriş Yap" styleClass="button"
						action="#{girisyap.kontrolDB}" update="msg"/>
				</h:form>
				<h:form>
					<h:commandLink action="sifremiunuttum?faces-redirect=true"
						value="Şifremi Unuttum" styleClass="unuttum"/>
				</h:form>
			</h:panelGrid>
			<p:growl id="msg" showDetail="true" sticky="false" for="loginMsg"/>
		</div>
	</div>

	<div class="footer">
		<div style="width: 90%; height: 100%;">
			<p>© 2020 Pusula.com</p>
			<a href="">Kullanım Hakları</a>
		</div>



	</div>
</body>
</html>