<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	>

<h:head>
	<title>Mod sayfası</title>
	<h:outputStylesheet library="css" name="bootstrap.css" />
</h:head>

<body class="container-fluid" style="overflow:hidden; padding: 0px; background: linear-gradient(80deg,#98A4AF, #054771);">
	<nav class="navbar py-3" style="border-bottom: black solid 1px;">
		<h:form styleClass="navbar col-md-12">
			<h:commandLink styleClass="navbar-brand  text-white">
				<b>Pusula</b>
			</h:commandLink>
			<h:inputText styleClass="form-control my-0 py-1 col-md-4 mr-auto"
				a:placeholder="Pusula'da Ara" />
			<h:outputText value="Kullanıcı Adı: #{girisyap.tmpkuladi}" styleClass="nav-item text-white font-weight-bolder text-monospace  p-3"/>
			<h:outputText value="Yetkisi: #{girisyap.yetki}" styleClass="nav-item text-white font-weight-bolder text-monospace  p-3"/>
		</h:form>
	</nav>
	
	<div class="row" style="margin: 0px;">
	<nav class=" col-md-3 pt-4" style="height:calc(100vh - 5.5rem); border-right:black solid 1px;">
		<h:form styleClass="nav flex-column pl-4 pt-7">
				
				<h:commandLink action="modKategori?faces-redirect=true" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/kategori.png"/>&nbsp;Kategori</h1></h:commandLink>
				<h:commandLink action="modBGoruntule?faces-redirect=true" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/1.png"/>&nbsp;Blog Görüntüle</h1></h:commandLink>
				<h:commandLink action="modAyarlar?faces-redirect=true" styleClass="nav-item text-dark p-3"><h1><img src="resources/icons/icons8-settings-500.png"/>&nbsp;Ayarlar</h1></h:commandLink>
				<h:commandLink action="#{girisyap.logout}" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/icons8-power-off-button-100.png"/>&nbsp;Çıkış</h1></h:commandLink>
		</h:form>
	</nav>
	
	
	
	
	<section class="container col-md-9 row ">
		<div class="col-md-6" style="border-right: 1px solid black">
			<h1 style="margin:30px; color:white;">Şifre Değiştir</h1>
		<h:form styleClass="container" style="padding-top:150px;">
			
			<div class="pb-5">
			<p:outputLabel styleClass="pr-3 text-white" value="Mevcut Şifrenizi Giriniz:"/>
			<p:password value="#{ayarlar.pass}" placeholder="Mevcut Şifreniz"/>
			</div>
			<div>
			<p:outputLabel style="padding-right:40px; color:white;" value="Yeni Şifrenizi Giriniz:"/>
			<p:password value="#{ayarlar.newpass}" placeholder="Yeni Şifreniz"/>
			</div>
			<h:commandButton actionListener="#{ayarlar.editPass()}" value="Kaydet" styleClass="btn btn-success" style="width:100px; margin-left:60%; margin-top:60px;"/>
		</h:form>
		</div>
				<div class="col-md-6">
			<h1 style="margin:30px; color:white;">Kullanıcı Adı Değiştir</h1>
		<h:form styleClass="container" style=" padding-top:150px;">
			
			<div class="pb-5">
			<p:outputLabel styleClass="pr-3 text-white" value="Mevcut Kullanıcı Adınızı Giriniz:"/>
			<p:inputText  value="#{ayarlar.name}" placeholder="Mevcut Şifreniz"/>
			</div>
			<div>
			<p:outputLabel style="padding-right:40px; color:white;" value="Yeni Kullanıcı Adınızı Giriniz:"/>
			<p:inputText value="#{ayarlar.newname}" placeholder="Yeni Şifreniz"/>
			</div>
			<h:commandButton actionListener="#{ayarlar.editName()}" value="Kaydet" styleClass="btn btn-success" style="width:100px; margin-left:70%; margin-top:60px;"/>
		</h:form>
		</div>
	</section>
	</div>
</body>
</html>
