<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<h:head>
<title>Login Page</title>
<h:outputStylesheet rel="stylesheet" href="resources/css/loginpage.css" />
<link rel="stylesheet" href="resources/css/loginpage.css" />
</h:head>
<body>


	<div class="header">
		<a href="index.xhtml"><h1>P</h1></a>
		<h:inputText styleClass="search" />
	</div>

	<div class="container">
		<div class="loginarea">
			<h:form>
				<h:panelGrid>
					<h1 style="font-size: 30px;">Parola Sıfırlama</h1>
					<p:inputText a:placeholder="E-Posta"  styleClass="login" value="#{mail.mailadresi}" required="true" requiredMessage="Lütfen mail adresinizi giriniz."/>
					<h:commandButton actionListener="#{mail.mailAt}" value="GÖNDER"
						action="loginpage?faces-redirect=true" styleClass="button"/>

				</h:panelGrid>
			</h:form>
			<h:form>
				<p:growl id="growl" showDetail="true" sticky="true" />
			</h:form>
		</div>
	</div>

	<div class="footer">
		<div style="width: 90%; height: 100%;">
			<p>© 2020 Pusula.com</p>
			<a href="">Kullanım Hakları</a>
		</div>



	</div>
</body>
</html>