<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<h:head>
	<h:outputStylesheet name="css/themeCup.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet name="primeicons/primeicons.css"
		library="primefaces" />
</h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<title></title>
</head>
<body>
	<div class="fixed-container bg-img">
		<div class="container-fluid blur">
			<div class="row p-5 bg-color">
				<div class="col-8">
					<h2
						class="font-weight-bolder text-uppercase border-bottom border-light text-white">#{userTheme.user.blogName}</h2>
					<h4 class="text-monospace text-wrap text-capitalize go-down-max text-white">#{userTheme.user.userName}</h4>
				</div>
				<div class="col-2"></div>
				<div class="col-2">
					<h:form>
						<span class="ui-float-label"> 
							<p:inputText
								id="search-input" value="#{userTheme.searchFor}" /> <p:outputLabel
								for="search-input" value="Başlık Ara" /> 
								<p:commandButton
								action="#{userTheme.buttonSearch}" id="btnSearch" update="headersList search"
								icon="pi pi-search" title="Ara" />
						</span>
						<p:growl id="search" showDetail="true"
							skipDetailIfEqualsSummary="true" for="msgFromBlog" sticky="false" />
					</h:form>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<p:dataList id="headersList"
						value="#{userTheme.categoriesWithHeaders}" var="list"
						class="headersList mt-2" scrollable="true">
						<f:facet name="header" class="headersLabel">
           						İçerikler
        					</f:facet>
						<h5 class="text-white mt-1">#{list.category}</h5>
						<ui:repeat var="headers" value="#{list.headers}">
							<p:commandButton class="headerButton" value="#{headers}">
								<p:ajax event="click"
									listener="#{userTheme.onHeaderSelect(headers)}"
									update="content headersList" />
							</p:commandButton>
							<br/>
						</ui:repeat>
					</p:dataList>
				</div>
				<div class="col-4"></div>
				<div class="col-5">
					<p:scrollPanel id="content"
						styleClass="contents .text-break mt-2">
						<h1 class="font-weight-bold text-capitalize">#{userTheme.selectedContent.header}</h1>
						<h4
							style="text-align: left; color: rgb(201, 194, 183); margin-left: 3%;"
							class="font-italic">#{userTheme.selectedContent.publishDate}</h4>
						<p>#{userTheme.selectedContent.content}</p>
					</p:scrollPanel>
				</div>
			</div>
		</div>
	</div>
</body>
</html>