<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<h:head>
	<h:outputStylesheet name="css/themeGame.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet name="primeicons/primeicons.css"
		library="primefaces" />
</h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<title></title>
</head>
<h:body id="body"  class="body" rendered="#{themeBean.loaded}" >
	<p:remoteCommand autoRun="true" actionListener="#{themeBean.fetchUsers}" update="body"/>
	<div class="bg-container" >
		<div class="row full" id="mainContainer">
			<div class="col-2 user-area text-center justify-content-start">
				<div class="go-down-more">
					<h2
						class="font-weight-bolder text-monospace text-uppercase border-bottom border-light">
						#{userTheme.user.blogName}</h2>
				</div>
				<h3 class="text-monospace text-wrap text-capitalize go-down-max">#{userTheme.user.userName}</h3>
				<label class="go-down-less text-wrap px-2 about">#{userTheme.user.about}</label>
			</div>
			<div class="col-8 col-md- justify-content-center ">
				<p:scrollPanel id="content"
					styleClass="contents .text-break align-self-center go-down-more">
					<h1 class="font-weight-bold text-capitalize">#{userTheme.selectedContent.header}</h1>
					<h4 style="text-align: left; color: rgb(201, 194, 183); margin-left: 3%;"
						class="font-italic">#{userTheme.selectedContent.publishDate}</h4>
					<p>#{userTheme.selectedContent.content}</p>
				</p:scrollPanel>
			</div>
			<div class="col-2" id="right-col">
				<div class="go-down-more row">
					<div class="col-12">
						<h:form>
							<span class="ui-float-label"> <p:inputText
									id="search-input" value="#{userTheme.searchFor}" /> <p:outputLabel
									for="search-input" value="Başlık Ara" /> <p:commandButton
									action="#{userTheme.buttonSearch}" id="btnSearch"
									update="search form:headersList" icon="pi pi-search"
									title="Ara" />
							</span>
							<p:growl id="search" showDetail="true"
								skipDetailIfEqualsSummary="true" for="msgFromBlog"
								sticky="false" />
						</h:form>
					</div>
				</div>
				<div class="row" id="row">
					<h:form class="justify-content-center" id="form">
						<p:tagCloud model="#{userTheme.categories}">
							<p:ajax event="select" listener="#{userTheme.onCategorySelect}"
								update="headersList" />
						</p:tagCloud>
						<p:dataList id="headersList" value="#{userTheme.headers}"
							var="headers" class="headersList" scrollable="true"
							scrollHeight="200">
							<f:facet name="header" class="headersLabel">
           						İçerikler
        					</f:facet>
							<p:commandButton class="headerButton" value="#{headers}">
								<p:ajax event="click"
									listener="#{userTheme.onHeaderSelect(headers)}"
									update="content" />
							</p:commandButton>
						</p:dataList>
					</h:form>
				</div>
			</div>
		</div>
	</div>
</h:body >
</html>