<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<head>
<h:head>
	<h:outputStylesheet name="css/userSettings.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet name="primeicons/primeicons.css"
		library="primefaces" />
</h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<title></title>
</head>
<body class="body" style="overflow:hidden;">
	<nav class="navbar py-3" style="border-bottom: black solid 1px;">
	<h:form styleClass="navbar col-md-12">
		<h:commandLink styleClass="navbar-brand  text-white">
			<b>Pusula</b>
		</h:commandLink>
		<h:inputText styleClass="form-control my-0 py-1 col-md-4 mr-auto"
			a:placeholder="Pusula'da Ara" />
		<h:outputText value="Kullanıcı Adı: #{girisyap.tmpkuladi}"
			styleClass="nav-item text-white font-weight-bolder text-monospace  p-3" />
		<h:outputText value="Yetkisi: #{girisyap.yetki}"
			styleClass="nav-item text-white font-weight-bolder text-monospace  p-3" />
	</h:form> </nav>

	<div class="row" style="margin: 0px;">
		<nav class="col-md-3 pt-4"
			style="height:calc(100vh - 5.5rem); border-right:black solid 1px;">
		<h:form styleClass="nav flex-column pl-4 pt-7">
			<h:commandLink action="userKayitlar?faces-redirect=true"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/kayıtlar.png" />&nbsp;Kayıtlar
				</h1>
			</h:commandLink>
			<h:commandLink action="userSelectTheme?faces-redirect=true"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/tema.png" />&nbsp;Tema
				</h1>
			</h:commandLink>
			<h:commandLink action="#{girisyap.redirect}"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/1.png" />&nbsp;Blog Görüntüle
				</h1>
			</h:commandLink>
			<h:commandLink action="userYeniYayin?faces-redirect=true"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/icons8-hand-with-pen-100.png" />&nbsp;Yeni
					Yayın
				</h1>
			</h:commandLink>
			<h:commandLink action="userSettings?faces-redirect=true"
				styleClass="nav-item text-dark p-3">
				<h1>
					<img src="resources/icons/icons8-settings-500.png" />&nbsp;Ayarlar
				</h1>
			</h:commandLink>
			<h:commandLink action="#{girisyap.logout}"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/icons8-power-off-button-100.png" />&nbsp;Çıkış
				</h1>
			</h:commandLink>
		</h:form> </nav>

		<!-- page contents -->
		<div class="col-md-9">
			<div class="col-3"></div>
			<div class="col-9 ml-2">
				<h:form>
					<div class="row mt-3">
						<h3>Gizlilik</h3>
					</div>
					<div class="row mt-2">
						<div class="col-4">
							<label>Blog görünürlüğü:</label>
						</div>
						<div class="col-2">
							<h:selectBooleanCheckbox value="#{sets.visibility}" disabled="true"
								title="görünürlük">
								<p:ajax listener="#{sets.toggleVisibility}" />
							</h:selectBooleanCheckbox>
						</div>
						<div class="col-6">
							<p>(İşaretli ise blog arama motorlarında görünür olacaktır!)(beta)</p>
						</div>
					</div>
					<div class="row mt-3">
						<h3>Üyelik Bilgileri</h3>
					</div>
					<div class="row mt-2">
						<div class="col-2">
							<label>Kullanıcı adı:</label>
						</div>
						<div class="col-5">
							<p:inputText class="inputs" value="#{sets.userName}">
								<p:ajax event="keyup" />
							</p:inputText>
						</div>
						<div class="col-4">
							<p>(Bloğunuzda görünen yazar adıdır.)</p>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-2">
							<label>E-posta adresi:</label>
						</div>
						<div class="col-5">
							<p:inputText class="inputs" value="#{sets.email}">
								<p:ajax event="keyup" />
							</p:inputText>

						</div>
						<div class="col-4"></div>
					</div>
					<div class="row mt-3">
						<h3>Blog</h3>
					</div>
					<div class="row mt-1">
						<div class="col-2">
							<label>Blog adı:</label>
						</div>
						<div class="col-5">
							<p:inputText class="inputs" value="#{sets.blogName}">
								<p:ajax event="keyup" />
							</p:inputText>
						</div>
						<div class="col-4">
							<p>(Bloğunuzun addır.)</p>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-2">
							<label>Hakkımda:</label>
						</div>
						<div class="col-6">
							<p:inputTextarea class="inputs" value="#{sets.about}">
								<p:ajax event="keyup" />
							</p:inputTextarea>
						</div>
						<div class="col-4">
							<p>(Bloğunuzda hakkında bölümünde görüntülenir, seçilen
								temaya göre değişebilir.)</p>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-2">
							<label>Bloğumu sil:</label>
						</div>
						<div class="col-3">
							<p:commandButton class="btnDel" id="btnDelBlog" value="Sil"
								oncomplete="PF('delBlog').show()">
							</p:commandButton>
						</div>
						<div class="col-7">
							<p>(Tüm içeriklerinizi temizler, bu işlem geri alınamaz!)</p>
						</div>
					</div>
					<div class="row mt-3">
						<h3>Şifre</h3>
					</div>
					<div class="row mt-2">
						<div class="col-2">
							<label>Eski şifre:</label>
						</div>
						<div class="col-5">
							<p:password id="oldPass" value="#{sets.oldPass}" />
						</div>
						<div class="col-4"></div>
					</div>
					<div class="row mt-2">
						<div class="col-2">
							<label>Yeni şifre:</label>
						</div>
						<div class="col-5">
							<p:password id="newPass" value="#{sets.newPass}" feedback="true"
								promptLabel="Lütfen şifre giriniz" weakLabel="Zayıf"
								goodLabel="Orta seviye" strongLabel="Güçlü" />
						</div>
						<div class="col-4"></div>
					</div>
					<div class="row mt-3">
						<div class="col-2">
							<label>Hesabımı sil:</label>
						</div>
						<div class="col-3">
							<p:commandButton class="btnDel" value="Sil"
								oncomplete="PF('delAccount').show()" action="loginpage?faces-redirect=true">
							</p:commandButton>
						</div>
						<div class="col-7">
							<p>(Kullanıcı hesabını siler, bu işlem geri alınamaz!)</p>
						</div>
					</div>

					<div class="row mt-5">
						<div class="col-5"></div>
						<div class="col-2">
							<p:commandButton value="Kaydet" icon="pi pi-check"
								action="#{sets.updateUser}" update="passValidation">
							</p:commandButton>
						</div>
					</div>
					<p:dialog header="Hesap silme işlemini onaylayın," modal="true"
						resizable="false" showEffect="fade" widgetVar="delAccount">
						<h:panelGrid columns="2" id="disp">
							<h:outputText
								value='Silmek yerine içeriklerinizi gizleyebilirsiniz, yine de silmek istediğinize emin misiniz?' />
							<div class="row justify-content-center">
								<p:commandButton icon="pi pi-check" update="disp"
									oncomplete="PF('delAccount').hide()">
									<p:ajax listener="#{sets.delAccount}" />
								</p:commandButton>
								<p:commandButton icon="pi pi-times" update="disp"
									oncomplete="PF('delAccount').hide()">
								</p:commandButton>
							</div>
						</h:panelGrid>
					</p:dialog>
					<p:dialog header="Blog silme işlemini onaylayın," modal="true"
						resizable="false" showEffect="fade" widgetVar="delBlog">
						<h:panelGrid columns="2" id="display">
							<h:outputText
								value='Silmek yerine içeriklerinizi gizleyebilirsiniz, yine de silmek istediğinize emin misiniz?' />
							<div class="row">
								<p:commandButton icon="pi pi-check" update="display"
									oncomplete="PF('delBlog').hide()">
									<p:ajax listener="#{sets.delBlog}" />
								</p:commandButton>
								<p:commandButton icon="pi pi-times" update="display"
									oncomplete="PF('delBlog').hide()">
								</p:commandButton>
							</div>
						</h:panelGrid>
					</p:dialog>
					<p:growl id="passValidation" showDetail="true"
						skipDetailIfEqualsSummary="true" for="msgFromSettings"
						sticky="false" />
				</h:form>
			</div>
		</div>
	</div>
</body>
</html>