<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
<head>
<h:head>
	<h:outputStylesheet name="css/userSelectTheme.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet name="primeicons/primeicons.css"
		library="primefaces" />
</h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<title></title>
</head>
<body class="body" style="overflow:hidden;">
	<nav class="navbar py-3" style="border-bottom: black solid 1px;">
	<h:form styleClass="navbar col-md-12">
		<h:commandLink styleClass="navbar-brand  text-white">
			<b>Pusula</b>
		</h:commandLink>
		<h:inputText styleClass="form-control my-0 py-1 col-md-4 mr-auto"
			a:placeholder="Pusula'da Ara" />
		<h:outputText value="Kullanıcı Adı: #{girisyap.tmpkuladi}"
			styleClass="nav-item text-white font-weight-bolder text-monospace  p-3" />
		<h:outputText value="Yetkisi: #{girisyap.yetki}"
			styleClass="nav-item text-white font-weight-bolder text-monospace  p-3" />
	</h:form> </nav>
	
	<div class="row" style="margin: 0px;">
		<nav class="col-md-3 pt-4"
			style="height:calc(100vh - 5.5rem); border-right:black solid 1px;">
		<h:form styleClass="nav flex-column pl-4 pt-7">
			<h:commandLink action="userKayitlar?faces-redirect=true"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/kayıtlar.png" />&nbsp;Kayıtlar
				</h1>
			</h:commandLink>
			<h:commandLink action="userTema?faces-redirect=true"
				styleClass="nav-item text-dark p-3">
				<h1>
					<img src="resources/icons/tema.png" />&nbsp;Tema
				</h1>
			</h:commandLink>
			<h:commandLink action="#{girisyap.redirect}"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/1.png" />&nbsp;Blog Görüntüle
				</h1>
			</h:commandLink>
			<h:commandLink action="userYeniYayin?faces-redirect=true"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/icons8-hand-with-pen-100.png" />&nbsp;Yeni
					Yayın
				</h1>
			</h:commandLink>
			<h:commandLink action="userSettings?faces-redirect=true"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/icons8-settings-500.png" />&nbsp;Ayarlar
				</h1>
			</h:commandLink>
			<h:commandLink action="#{girisyap.logout}"
				styleClass="nav-item text-white p-3">
				<h1>
					<img src="resources/icons/icons8-power-off-button-100.png" />&nbsp;Çıkış
				</h1>
			</h:commandLink>
		</h:form> </nav>

		<!-- page contents -->
		<div class="col-md-9 containerTheme">
			<div class="row justify-content-center">
				<h3 class="text-white">Tema seçmek için tıklayın</h3>
			</div>
			<div class="col-12">
				<div class="row">
					<p:commandButton action="#{selectTheme.setThemeToBlog}" actionListener="#{selectTheme.getVal}"
						class="theme" id="themeCoffee" value=" " update="success">
							<f:attribute name="val" value="themeCoffee" />
						</p:commandButton>
					<p:commandButton id="themeCup" actionListener="#{selectTheme.getVal}"
						class="theme" action="#{selectTheme.setThemeToBlog}" value=" " update="success">
							<f:attribute name="val" value="themeCup" />
						</p:commandButton>
					<p:commandButton action="#{selectTheme.setThemeToBlog}" id="themeFlower" actionListener="#{selectTheme.getVal}"
						class="theme" value=" " update="success">
							<f:attribute name="val" value="themeFlower" />
						</p:commandButton>
					<p:commandButton action="#{selectTheme.setThemeToBlog}" id="themeFruits" actionListener="#{selectTheme.getVal}"
						class="theme" value=" " update="success">
							<f:attribute name="val" value="themeFruits" />
						</p:commandButton>
				</div>
				<div class="row">
					<p:commandButton action="#{selectTheme.setThemeToBlog}" id="themeGame" actionListener="#{selectTheme.getVal}"
						class="theme" value=" " update="success">
							<f:attribute name="val" value="themeGame" />
						</p:commandButton>
					<p:commandButton action="#{selectTheme.setThemeToBlog}" id="themeGradient" actionListener="#{selectTheme.getVal}"
						class="theme" value=" " update="success">
							<f:attribute name="val" value="themeGradient" />
						</p:commandButton>
					<p:commandButton action="#{selectTheme.setThemeToBlog}" id="themeLibrary" actionListener="#{selectTheme.getVal}"
						class="theme" value=" " update="success">
							<f:attribute name="val" value="themeLibrary" />
						</p:commandButton>
					<p:commandButton action="#{selectTheme.setThemeToBlog}" id="themeSpices" actionListener="#{selectTheme.getVal}"
						class="theme" value=" " update="success">
							<f:attribute name="val" value="themeSpices" />
						</p:commandButton>
				</div>
				<p:growl id="success" sticky="false" for="msgFromSelectTheme" showDetail="true" skipDetailIfEqualsSummary="true" />
			</div>
		</div>
	</div>
</body>
</html>