<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	>

<h:head>
	<title>Yeni Yayın</title>
	<h:outputStylesheet library="css" name="bootstrap.css" />
</h:head>
<body class="container-fluid" style="overflow:hidden; padding: 0px; background: linear-gradient(80deg,#98A4AF, #054771);">
	<nav class="navbar py-3" style="border-bottom: black solid 1px;">
		<h:form styleClass="navbar col-md-12">
			<h:commandLink styleClass="navbar-brand  text-white">
				<b>Pusula</b>
			</h:commandLink>
			<h:inputText styleClass="form-control my-0 py-1 col-md-4 mr-auto"
				a:placeholder="Pusula'da Ara" />
			<h:outputText value="Kullanıcı Adı: #{girisyap.tmpkuladi}" styleClass="nav-item text-white font-weight-bolder text-monospace  p-3"/>
			<h:outputText value="Yetkisi: #{girisyap.yetki}" styleClass="nav-item text-white font-weight-bolder text-monospace  p-3"/>
		</h:form>
	</nav>
	
	<div class="row" style="margin: 0px;">
	<nav class=" col-md-3 pt-4" style="height:calc(100vh - 5.5rem); border-right:black solid 1px;">
		<h:form styleClass="nav flex-column pl-4 pt-7">
				<h:commandLink action="userKayitlar?faces-redirect=true" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/kayıtlar.png"/>&nbsp;Kayıtlar</h1></h:commandLink>
				<h:commandLink action="userSelectTheme?faces-redirect=true" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/tema.png"/>&nbsp;Tema</h1></h:commandLink>
				<h:commandLink action="#{girisyap.redirect}" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/1.png"/>&nbsp;Blog Görüntüle</h1></h:commandLink>
				<h:commandLink action="userYeniYayin?faces-redirect=true" styleClass="nav-item text-dark p-3"><h1><img src="resources/icons/icons8-hand-with-pen-100.png"/>&nbsp;Yeni Yayın</h1></h:commandLink>
				<h:commandLink action="userSettings?faces-redirect=true" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/icons8-settings-500.png"/>&nbsp;Ayarlar</h1></h:commandLink>
				<h:commandLink action="#{girisyap.logout}" styleClass="nav-item text-white p-3"><h1><img src="resources/icons/icons8-power-off-button-100.png"/>&nbsp;Çıkış</h1></h:commandLink>
		</h:form>
	</nav>
	
	
	
	
	<section class="container col-md-9 ">
		<h:form  styleClass="h-100 row">
		<div class="col-md-10">
				
		<p:inputText id="baslik" placeholder="Başlık Giriniz" required="true" requiredMessage="Başlık Kısmı Boş Olamaz!"
					 title="Başlık Giriniz" value="#{icerik.icerikbaslik}"/>
		<p:commandButton value="Yazıyı Yayımlayın" action="#{icerik.setIcerikDB()}" ajax="false"/>
		<p:commandButton value="Önizleyin" action="#" onclick="this.form.target='_blank'" ajax="false"/>	
		
		<h:outputText value="#{icerik.msg}" />
		<p:message for="baslik"/>		 
		<p:editor height="700" value="#{icerik.icerikyazi}">
		
		</p:editor>
		
		</div>
		<div class="col-md-2" style="margin-top:35px;">
				<h:form id="asd">
					<p:dataTable  id="table" value="#{kbean.getKategoriDB()}" var="d" >
						<p:column headerText="Kategoriler">
							<h:selectBooleanCheckbox value="#{icerik.checked[d.kategoriname]}">
    							<f:ajax event="valueChange" render=":asd:table"/>
							</h:selectBooleanCheckbox>
							<h:outputText for="sel" value="#{d.kategoriname}"></h:outputText>
						</p:column>
					</p:dataTable>
				</h:form>
		</div>
	</h:form>
	</section>
	</div>
</body>
</html>
	