@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body, html {
	width: 100%;
	height: 100%;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.div01 {
	height: 1050px;
}

#welcomearea {
	padding-top: 250px;
	text-align: center;
}

#welcomearea h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 70px;
	color: #FFF;
	margin-bottom: 60px;
}

.baslangic {
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	color: #FFF;
	background-color: #00B8FF;
	padding: 20px 60px;
	border-radius: 50px;
	border-style: none;
}

.baslangic:hover {
	background-color: #FFF;
	color: #00B8FF;
}

#bilgisol {
	width: 500px;
	height: 100%;
	padding-top: 400px;
	padding-left: 100px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 80px;
	margin-bottom: 60px;
}

p {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
	margin-bottom: 50px;
}

.buttonorta {
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	color: #FFF;
	background-color: #00B8FF;
	padding: 20px 40px;
	border-radius: 50px;
	border: none;
}

.buttonorta:hover {
	background-color: #418AFF;
}

#bilgisag {
	width: 500px;
	height: 100%;
	padding-top: 400px;
	padding-right: 100px;
	float: right;
}

#bilgialt {
	width: 100%;
	float: left;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	margin-left: 450px;
}

.sonbuton {
	font-family: 'Oswald', sans-serif;
	font-size: 17px;
	color: #FFF;
	background-color: #00B8FF;
	padding: 20px 40px;
	border-radius: 50px;
	border: none;
	margin-left: 850px;
	margin-top: 100px;
}

#loginarea {
	padding-top: 250px;
	text-align: center;
	width: 1900px;
	display: none;
}

#loginarea p {
	color: #FFF;
	margin: 10px;
}

#kayitol {
	display: none;
	margin-left: 800px;
	padding-top: 220px;
	width: 1900px;
}

#girisyap {
	display: none;
	margin-left: 800px;
	padding-top: 220px;
	width: 1900px;
}

.login {
	width: 300px;
	height: 40px;
	margin-bottom: 20px;
	font-size: 20px;
	padding-left: 15px;
}

.button {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	background-color: #00B8FF;
	border: none;
	border-radius: 15px;
	color: #FFF;
	font-weight: bold;
}

.unuttum {
	color: #fff;
	padding-left: 80px;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: #fff;
	text-align: center;
	padding-top: 40px;
}

.footer span {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
}

.footer p {
	font-family: helveticaneuew02-45ligh, helveticaneuew01-45ligh,
		helveticaneuew10-45ligh, sans-serif;
	float: right;
	margin-top: 80px;
}

.footer a {
	font-family: helveticaneuew02-45ligh, helveticaneuew01-45ligh,
		helveticaneuew10-45ligh, sans-serif;
	float: left;
	margin-top: 80px;
}

@media only screen and (max-width: 1400px) {
	.div01 {
		height: 700px;
	}
	#welcomearea {
		padding-top: 175px;
		text-align: center;
	}
	#welcomearea h1 {
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
		color: #FFF;
		margin-bottom: 60px;
	}
	.baslangic {
		font-family: 'Oswald', sans-serif;
		font-size: 14px;
		color: #FFF;
		background-color: #00B8FF;
		padding: 15px 40px;
		border-radius: 50px;
		border-style: none;
	}
	h2 {
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
		margin-bottom: 60px;
	}
	.buttonorta {
		font-family: 'Oswald', sans-serif;
		font-size: 10px;
		color: #FFF;
		background-color: #00B8FF;
		padding: 10px 20px;
		border-radius: 50px;
		border: none;
		margin-left: 175px;
	}
	p {
		font-family: 'Noto Sans JP', sans-serif;
		font-size: 15px;
		margin-bottom: 50px;
	}
	h3 {
		font-family: 'Oswald', sans-serif;
		font-size: 25px;
		margin-left: 450px;
	}
	.sonbuton {
		font-family: 'Oswald', sans-serif;
		font-size: 17px;
		color: #FFF;
		background-color: #00B8FF;
		padding: 10px 20px;
		border-radius: 50px;
		border: none;
		margin-left: 600px;
		margin-top: 100px;
	}
}