@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import
	url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap')
	;

* {
	padding: 0px;
	margin: 0px;
}

body, html {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: url("../img/login-bg.png");
}

.header {
	width: 100%;
	height: 5%;
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.kayitolbutton {
	width: 100px;
	height: 50px;
	background-color: #00B8FF;
	border: none;
	border-radius: 15px;
	color: #FFF;
	font-weight: bold;
	margin-left: auto;
	margin-top: 25px;
	margin-right: 15px;
}
.kayitolbutton:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}

.container {
	height: 70%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginarea {
	height: 80%;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(164, 175, 185, .5);
}

.loginarea h1 {
	font-family: 'Roboto Slab', serif;
	padding-left: 40px;
	margin-bottom: 25px; color : #fff;
	font-size: 60px;
	color: #fff
}

.login {
	width: 300px;
	height: 40px;
	margin-bottom: 20px;
	font-size: 20px;
	padding-left: 15px;
}

.button {
	width: 100%;
	height: 50px;
	margin-bottom: 50px;
	background-color: #00B8FF;
	border: none;
	border-radius: 15px;
	color: #FFF;
	font-weight: bold;
}

.button:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}

.unuttum {
	color: #fff;
	padding-left: 80px;
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	font-family: Arial,Helvetica,sans-serif;
}

.unuttum:hover {
	color: #fff;
	padding-left: 80px;
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
	font-family: Arial,Helvetica,sans-serif;
}

.search {
	width: 430px;
	height: 30px;
	margin-left: 30px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	padding-left: 15px;
	background-color: #A4AFB9;
	opacity: 0.5;
	margin-top: 15px;
}

.search:focus {
	background-color: #FFF;
	opacity: 1;
}

.header h1 {
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	color: #fff;
	margin-left: 40px;
	margin-top: 5px;
}

.footer {
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-top: 120px;
}

.footer span {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
	color: #fff;
}

.footer p {
	font-family: helveticaneuew02-45ligh, helveticaneuew01-45ligh,
		helveticaneuew10-45ligh, sans-serif;
	float: right;
	margin-top: 80px;
	color: #fff;
}

.footer a {
	font-family: helveticaneuew02-45ligh, helveticaneuew01-45ligh,
		helveticaneuew10-45ligh, sans-serif;
	float: left;
	margin-top: 80px;
	color: #fff;
}