@charset "UTF-8"; 

 @charset "UTF-8";

.fixed-container {
	width: 100vw !important;
	height: 100vh !important;
	overflow: hidden !important;
	position: absolute !important;
}

.fixed-width-he-20 {
	width: 100vw !important;
	height: 50vh !important;
}

.bg-color {
	background: rgba(0, 0, 0, .6);
}

h1, h2, h3, h4, h5 {
	color: white;
}

.ui-widget-content {
	color: white;
	background: transparent;
	border: 0px;
	font-family: cursive;
}

.bg-img {
	background-color: rgb(164, 201, 224); /* For browsers that do not support gradients */
  	background-image: linear-gradient(180deg, rgb(179, 123, 139), rgb(232, 230, 230)); /* Standard syntax (must be last) */
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
}

.contents {
	height: 75vh !important;
	text-align: center;
	background-color: rgba(64, 71, 82, .6) !important;
	border: 0px;
}

.ui-datalist {
	overflow: auto !important;
	height: 60% !important;
}

.ui-datalist::-webkit-scrollbar {
	display: none;
}

.ui-button-icon-only {
	width: 1.9em !important;
	height: 2.1em !important;
	background: rgba(255, 255, 255, .8) !important;
}

.ui-button {
	text-align: left !important;
}

.ui-state-default, -webkit-box-shadow {
	box-shadow:inset 0 0px 0 #fff !important;
}

/* Hide scrollbar for IE and Edge */
.ui-datalist {
	-ms-overflow-style: none;
}

.ui-datalist-data {
	background: transparent !important;
	list-style-type: disc !important;
}

.ui-widget-content {
	background: rgba(64, 71, 82, .5); border : 0px;
	font-family: cursive;
	border: 0px;
}

.headerButton {
	background: transparent !important;
	font-size: .8em !important;
	color: rgb(232, 234, 237) !important;
	border: 0px !important;
	border-bottom: 1px solid gray !important;
	font-weight: 100 !important;
	letter-spacing: .1em !important;
	padding-top: 5%;
}

.ui-datalist-header {
	background: rgba(255, 255, 255, .5) !important;
}

.about::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
.about {
	-ms-overflow-style: none;
}

.about {
	overflow: auto !important;
	height: 57.1% !important;
	color: white;
	background: rgba(64, 71, 82, .5);
}

.about-header {
	background: rgba(255, 255, 255, .5) !important;
	text-align: center;
	margin-bottom: 0px !important;
	color: #333 !important;
}

@media only screen and (max-width: 1400px) {
	.headerButton {
		width: 80% !important;
	}
	.ui-button-icon-only {
		width: 1.9em !important;
	}
	.ui-datalist {
		overflow: auto !important;
		height: 25% !important;
	}
	h1 {
		font-size: 2em !important;
	}
	h4 {
		font-size: 1.3em !important;
	}
	.ui-inputfield {
		width: 80%;
	}
	
	.about {
	height: 24% !important;
}
}