@charset "UTF-8";

.body {
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	overflow: hidden !important;
}

.bg-container {
	background-image: url("#{resource['img/table_game.jpg']}");
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	width: 100% !important;
	height: 100% !important;
}

.full {
	width: 100% !important;
	height: 100%;
}

.user-area {
	height: 100% !important;
	background-color: rgba(255, 255, 255, .7);
}

.go-down-less {
	margin-top: 5% !important;
}

.go-down {
	margin-top: 10% !important;
}

.go-down-more {
	margin-top: 15% !important;
}

.go-down-max {
	margin-top: 30% !important;
}

.contents {
	margin-left: 5%;
	width: 70%;
	height: 75vh !important;
	text-align: center;
	background-color: rgba(0, 0, 0, .1) !important;
}

.ui-scrollpanel-container {
	width: 100% !important;
	height: 75vh !important;
}

.ui-scrollpanel-content {
	width: 38vw !important;
}

.ui-scrollpanel-vbar {
	background: black !important;
}

.pi-search {
	color: #8b0000 !important;
}

.ui-inputfield {
	width: 80%;
}

.ui-growl-image-info {
	background: none !important;
}

.ui-datalist {
	overflow: auto !important;
	height: 52% !important;
}

.ui-datalist::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
.ui-datalist {
	-ms-overflow-style: none;
}

.about::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
.about {
	-ms-overflow-style: none;
}

.about {
	overflow: auto !important;
	height: 60% !important;
}

.ui-button-icon-only {
	height: 2.1em !important;
}

.ui-datalist-data {
	background: transparent !important;
	list-style-type: disc !important;
}

.ui-widget-content {
	color: white;
	background: transparent;
	border: 0px;
	font-family: cursive;
}

.ui-widget-content a {
	color: rgb(240, 252, 255) !important;
}

.ui-tagcloud-strength-0 {
	background: rgba(18, 234, 254, .3);
	border-radius: .3em;
	margin: .3vw !important;
}

.ui-tagcloud-strength-1 {
	background: rgba(7, 0, 18, .3);
	border-radius: .3em;
	margin: .3vw !important;
}

.ui-tagcloud-strength-2 {
	background: rgba(176, 124, 75, .3);
	border-radius: .3em;
	margin: .3vw !important;
}

.ui-tagcloud-strength-3 {
	background: rgba(127, 18, 104, .3);
	border-radius: .3em;
	margin: .3vw !important;
}

.ui-tagcloud-strength-4 {
	background: rgba(232, 222, 107, .3);
	border-radius: .3em;
	margin: .3vw !important;
}

.ui-tagcloud-strength-5 {
	background: rgba(15, 18, 233, .3);
	border-radius: .3em;
	margin: .3vw !important;
}

.ui-datalist-data {
	background: transparent !important;
	justify-content: center !important;
}

.ui-widget {
	font-size: 1em !important;
}

.headerButton {
	background: transparent !important;
	margin-top: .3vw !important;
	font-size: .9em !important;
	color: rgb(79, 56, 49) !important;
	width: 100% !important;
	border-width: 0px !important;
}

.ui-datalist-header {
	width: 100% !important;
}

div[id="j_idt9:search_container"] {
	margin-top: 3% !important;
}

@media only screen and (max-width: 1400px) {
	.headerButton {
		width: 80% !important;
	}
	.tagCloud {
		height: 40% !important;
	}
	.ui-widget-content a {
		font-size: .8em !important;
	}
	.ui-button-icon-only {
		width: 1.8em !important;
	}
	.ui-datalist-header {
		width: 90% !important;
	}
	.ui-datalist {
		overflow: auto !important;
		height: 35% !important;
	}
	.about {
		overflow: auto !important;
		height: 50% !important;
	}
	
	h1{
		font-size: 2em !important;
	}
	
	h4 {
		font-size: 1.3em !important;
	}
}

@media only screen and (max-width: 1300px) {
	#right-col {
		display: none !important;
	}
}