@charset "UTF-8";

.fixed-container {
	width: 100vw !important;
	height: 100vh !important;
	overflow: hidden !important;
	position: absolute !important;
	background: #EEEEEE;
}

.fixed-width-he-20 {
	width: 100vw !important;
	height: 50vh !important;
}

.bg-color {
	background: rgba(107, 75, 80, .4);
}

.bg-img {
	background-image: url("#{resource['img/black_white_coffee.jpg']}");
	background-size: cover;
	background-position: right 5vw center;
	background-repeat: no-repeat;
}

.contents {
	height: 75vh !important;
	text-align: center;
	background-color: transparent !important;
	border: 0px;
	color: black;
}

.ui-datalist {
	overflow: auto !important;
	height: 70% !important;
}

.ui-datalist::-webkit-scrollbar {
	display: none;
}

.ui-button-icon-only {
	width: 1.9em !important;
	height: 2em !important;
	background: rgba(237, 178, 159, .8) !important;
}

/* Hide scrollbar for IE and Edge */
.ui-datalist {
	-ms-overflow-style: none;
}

.ui-datalist-data {
	background: transparent !important;
	list-style-type: disc !important;
}

.ui-widget-content {
	background: rgba(255, 255, 255, .1);
	border: 0px;
	font-family: cursive;
}

.headerButton {
	background: transparent !important;
	font-size: .9em !important;
	color: rgb(201, 201, 201) !important;
	text-shadow: 0 0px 0 rgba(255, 255, 255, 0.7) !important;
	border-width: 0px !important;
	border-bottom: 1px solid rgba(204, 75, 75, .3) !important;
	border-radius: 0px !important;
}

.ui-state-default {
	box-shadow: inset 0 0px 0 #fff !important;
	-webkit-box-shadow: inset 0 0px 0 #fff !important;
}

.ui-datalist-header {
	background: rgba(255, 255, 255, .3) !important;
	color: white;
}

@media only screen and (max-width: 1400px) {
	.headerButton {
		width: 80% !important;
	}
	.ui-button-icon-only {
		width: 1.9em !important;
	}
	.ui-datalist {
		overflow: auto !important;
		height: 40% !important;
	}
	h1 {
		font-size: 2em !important;
	}
	h4 {
		font-size: 1.3em !important;
	}
	.ui-inputfield {
		width: 80%;
	}
	.bg-img {
		background-image: url("#{resource['img/black_white_coffee.jpg']}");
		background-size: cover;
		background-position: left center;
		background-repeat: no-repeat;
	}
	.contents {
		height: 40% !important;
	}
}