@charset "UTF-8";

.fixed-container {
	width: 100vw !important;
	height: 100vh !important;
	overflow: hidden !important;
	position: absolute !important;
}

.fixed-width-he-20 {
	width: 100vw !important;
	height: 50vh !important;
}

.bg-color {
	background: rgba(107, 75, 80, .4);
}

.bg-img {
	background-image: url("#{resource['img/white_bg_flower.jpg']}");
	background-size: cover;
	background-position: 30% 80%;
	background-repeat: no-repeat;
}

.contents {
	height: 75vh !important;
	text-align: center;
	background-color: transparent !important;
	border: 0px;
	color: black;
}

.ui-datalist {
	overflow: auto !important;
	height: 70% !important;
}

.ui-datalist::-webkit-scrollbar {
	display: none;
}

.ui-button-icon-only {
		width: 1.9em !important;
		height: 2em !important;
		background: rgba(237, 178, 159, .8) !important;
	}

/* Hide scrollbar for IE and Edge */
.ui-datalist {
	-ms-overflow-style: none;
}

.ui-datalist-data {
	background: transparent !important;
	list-style-type: disc !important;
}

.ui-widget-content {
	background: rgba(232, 220, 222, .4);
	border: 0px;
	font-family: cursive;
}

.headerButton {
	background: transparent !important;
	font-size: .9em !important;
	color: rgb(79, 56, 49) !important;
	border-width: 0px !important;
}

.ui-datalist-header {
	background: rgba(237, 178, 159, .8) !important;
}

@media only screen and (max-width: 1400px) {
	.headerButton {
		width: 80% !important;
	}
	.ui-button-icon-only {
		width: 1.9em !important;
	}
	.ui-datalist {
		overflow: auto !important;
		height: 40% !important;
	}
	h1{
		font-size: 2em !important;
	}
	
	h4 {
		font-size: 1.3em !important;
	}
	
	.ui-inputfield {
	width: 80%;
}
}
