@charset "UTF-8";

body {
	padding: 0px; 
	background: linear-gradient(80deg,#98A4AF, #054771);
}

label, h3, h4, h5 {
	color: white;
}

label {
	font-size: 1.2em;
}

h3 {
	text-decoration: underline;
}

p {
	text-align: right;
	color: lightgray;
	width: 100% !important;
}

.inputs {
	width: 70% !important;
}

.btnDel {
	background: rgba(255, 17, 0, .5);
	color: white !important;
	text-shadow: 0 0px !important;
	-webkit-text-shadow: 0 0px !important;
	border: 0px !important;
	padding: .1em 1em !important;
}
