@charset "UTF-8";

body {
	padding: 0px; 
	background: linear-gradient(80deg,#98A4AF, #054771);
}

.theme {
    width: 22% !important;
    height: 20vh !important;
    margin: 1% !important;
    margin-top: 5% !important;
    padding: 0 0 !important;
}

.containerTheme {
	margin-top: 5vh !important;	
}

#themeGame {
	 background: white url("#{resource['img/resized_themeGame.jpg']}") no-repeat center;
}

#themeCoffee {
	 background: white  url("#{resource['img/resized_themeCoffee.jpg']}") no-repeat center;
}

#themeCup {
	 background: white  url("#{resource['img/resized_themeCup.jpg']}") no-repeat center;
}

#themeLibrary {
	 background: white  url("#{resource['img/resized_themeLibrary.jpg']}") no-repeat center;
}

#themeSpices {
	 background: white  url("#{resource['img/resized_themeSpices.jpg']}") no-repeat center;
}

#themeFruits {
	 background: white  url("#{resource['img/resized_themeFruits.jpg']}") no-repeat center;
}

#themeFlower {
	 background: white  url("#{resource['img/resized_themeFlower.jpg']}") no-repeat center;
}

#themeGradient {
	background: white  url("#{resource['img/resized_themeGradient.jpg']}") no-repeat center;
}

.ui-growl-item-container {
	margin-top: 10vh !important;
}